<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entry notification</title>
</head>
<body>
<p>welcome <span th:text="${name}"></span> Join XXX Large family，Your onboarding information is as follows：</p>
<table border="1">
    <tr>
        <td>Name</td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td>position</td>
        <td th:text="${positionName}"></td>
    </tr>
    <tr>
        <td>job title</td>
        <td th:text="${jobTitlelName}"></td>
    </tr>
    <tr>
        <td>department</td>
        <td th:text="${departmentName}"></td>
    </tr>
</table>
<p>Hope in the days to come，Go hand in hand！</p>
</body>
</html>
